
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
padding:0;
margin:0;
    background:url(../img/background.jpg)no-repeat;   
    background-size: cover;
    min-height: 700px;
   font-family: 'Federo', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
/*--header start here--*/
h1 {
    font-size: 3.5em;
    color: #fff;
    text-align: center;
    margin: 1.5em 0em 1em 0em;
	font-family: 'Raleway', sans-serif;
	letter-spacing:3px;
}
.headder-main {
    width:30%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.45);
    height: 650px;
}
ul.resp-tabs-list {
    padding: 0px;
}
.login-top {
    padding: 2em 2em;
}
.login-top input[type="text"] {
    font-size: 1em;
       color: #000000;
    padding: 0.7em 0.8em;
    margin-bottom: 1em;
    width: 93%;
    display: inline-block;
    outline: none;
    border-radius: 3px;
    border:1px solid #9c9a9a;
    font-family: 'Signika', sans-serif;
}
.login-top input.password {
    font-size: 1em;
       color: #000000;
    padding: 0.7em 0.8em;
    margin-bottom: 1em;
    width: 93%;
    display: inline-block;
    outline: none;
    border-radius: 3px;
    border: 1px solid #9c9a9a;
    font-family: 'Signika', sans-serif;
}
.login-top input.confirm_password {
    margin-bottom: 0em;
}
.login-top h6 {
    text-align: left;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.login-top input[type="submit"] {
    font-size: 1em;
    color: #fff;
  background: #3C579E;
    border: none;
    width: 99%;
    display: block;
    padding: 0.7em 1em;
    text-align: center;
    margin: 1em auto 1em;
    border-radius: 3px;
    outline: none;
    cursor:pointer;
}
.login-top input[type="submit"]:hover {
    background: rgb(26, 18, 66);
}
.login-bottom.login-bottom1 {
    text-align: center;
}
.login-bottom.login-bottom1 h4 {
    font-size: 1em;
   color: #faf7f7;
  margin: 25px 0 35px 0;
}
.login-bottom.login-bottom1 h4 a {
    color: #000;
}
.login-bottom.login-bottom1 h4 a:hover {
    color:#fff;
}
.social-btn a {
    font-size: 1em;
    color: #fff;
    padding:0.5em 1.5em 0.5em 2.8em;
    display: inline-block;
    border-radius: 3px;
}

.social-btn a.twitter{
	background:rgba(3, 169, 244, 0.64) url() no-repeat 21px 9px;
	background-size:16px;
}
.social-btn a.facebook{
	background:#3c579e  url('../images/facebook.png') no-repeat 21px 9px;
	background-size:16px;
}
.social-btn a.twitter:hover{
	background:#177582 url('../images/twitter.png') no-repeat 21px 9px;
	background-size:16px;
}
.social-btn a.facebook:hover{
	background:#1c3984 url('../images/facebook.png') no-repeat 21px 9px;
	background-size:16px;
}
.login-bottom  p {
    font-size: 1em;
    color: #000;
    text-align: center;
}
.close {
    text-align: center;
    padding-top: 2em;
    cursor: pointer;
	width: 2%;
    margin: 0 auto;
}
/*--cheek box--*/
.remember-top{
 float:left;
}
.checkbox {
	margin-bottom: 4px;
	font-size: 1.2em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
  position: relative;
  font-size: 0.95em;
  font-weight: normal;
   color: #faf7f7;
  padding: 0em 0.5em 0em 2em;
}
.checkbox i {
    position: absolute;
    bottom:0px;
    left: 2px;
    display: block;
    width: 18px;
    height: 18px;
    outline: none;
    background: #fff;
    border:1px solid #826136;
}
.checkbox input + i:after {
	content: '';
	background: url(../img/tick.png) no-repeat 5px 5px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}

/******** SAP ************/
.sap_tabs{
	clear:both;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
    list-style: none;
    padding-left: 19px;
    text-align: left;
}
.resp-tab-item {
    color: #222;
    font-size: 22px;
    cursor: pointer;
    padding: 10px 17px;
    display: inline-block;
    margin: 0;
    width:42.45%;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0 0px;
}
/*-- agileits --*/
.resp-tab-active {
    text-shadow: none;
    color: #ffffff;
   background: #3C579E;
}
.resp-tabs-container {
	 padding: 0px;
    background-color: rgba(80, 59, 128, 0.16);
	clear: left;
	height: 650px;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	height:650px;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.resp-tab-item label{
	margin-right:8px;
}
/*--copy right start here--*/
.copy-rights p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    line-height: 1.7em;
}
.copy-rights p a{
  color:#fff; 
}
.copy-rights p a:hover{
  text-decoration:underline;
}
.copy-rights {
    padding:4em 0em 3em 0em;
}
.clear{
	clear:both;
}
/*--media quries start here--*/
@media(max-width:1440px){
	h1 {
		margin: 1em 0em 1em 0em;
	}
	.headder-main {
		width: 33.8%;
	}
	.resp-tab-item {
		padding: 10px 17.2px;
	}
}
@media(max-width:1366px){
	.resp-tab-item {
		width: 42%;
	}
	.social-btn a {
		padding: 0.5em 1.3em 0.5em 2.5em;
	}
}
@media(max-width:1280px){
	.headder-main {
		width: 35.8%;
	}
	h1 {
		font-size: 3em;
	}
	.resp-tab-item {
		width: 41.98%;
	}
}

@media(max-width:1080px){
	.headder-main {
		width: 42.8%;
	}
	.resp-tab-item {
		width: 42%;
	}
}
@media(max-width:1024px){
	.headder-main {
		width: 45%;
	}
}
@media(max-width:991px){
	.headder-main {
		width: 46.4%;
	}
	.resp-tab-item {
		width: 41.95%;
	}
}
@media(max-width:966px){
	.headder-main {
		width: 48.4%;
	}
	.resp-tab-item {
		width: 42.1%;
	}
}
@media(max-width:900px){
	.headder-main {
		width: 52%;
	}
}
@media(max-width:800px){
	.headder-main {
		width: 58%;
	}
	.resp-tab-item {
		width: 42.02%;
	}
	
}
@media(max-width:768px){
	.headder-main {
		width: 60%;
	}
	.copy-rights {
		padding: 4em 0em 8em 0em;
	}
	.resp-tab-item {
		width: 41.95%;
	}
	.social-btn a {
		padding: 0.5em 1.2em 0.5em 2.5em;
	}
}
@media(max-width:736px){
	.headder-main {
		width: 63%;
	}
}
@media(max-width:667px){
	.headder-main {
		width: 70%;
	}
	.resp-tab-item {
		width: 42.035%;
	}
}
@media(max-width:640px){
	.headder-main {
		width: 73%;
	}
	h1 {
		font-size: 2.5em;
	}
	.resp-tab-item {
		width: 41.99%;
	}
}
@media(max-width:600px){
	.headder-main {
		width: 75%;
	}
	.login-top {
		padding: 1.5em;
	}
	.resp-tab-content {
		height: 422px;
	}
	.copy-rights {
		padding: 4em 0em 3em 0em;
	}
	.resp-tab-item {
		width: 41.7%;
	}
}
@media(max-width:568px){
	.headder-main {
		width: 79.5%;
	}
	.resp-tab-item {
		width: 41.725%;
	}
}
@media(max-width:480px){
	.resp-tab-item {
		width: 40.15%;
	}
	.social-btn a {
		font-size: 0.8em;
		padding: 0.8em 1em 0.8em 3.1em;
	}
	.copy-rights {
		padding: 1em 0em 1em 0em;
	}
	.login-top input[type="text"],.login-top input.password {
		width: 91%;
	}
}
@media(max-width:414px){
	h1 {
		font-size: 2.3em;
	}
	.resp-tab-content {
		height: 450px;
	}
	.login-bottom.login-bottom1 h4 {
		margin: 25px 0 25px 0;
	}
	.login-top input[type="text"],.login-top input.password {
		width: 89%;
	}
	.resp-tab-item {
		width: 38.5%;
		font-size:20px;
	}
	.social-btn a {
		width: 80%;
	}
	.social-btn a.twitter {
		background: rgba(3, 169, 244, 0.64) url('../images/twitter.png') no-repeat 61px 10px;
		background-size: 16px;
		margin-bottom:10px;
	}
	.social-btn a.facebook {
		background: #3c579e url('../images/facebook.png') no-repeat 61px 10px;
		background-size: 16px;
	}
	.social-btn a.twitter:hover{
		background:#177582 url('../images/twitter.png') no-repeat 61px 10px;
		background-size:16px;
	}
	.social-btn a.facebook:hover{
		background:#1c3984 url('../images/facebook.png') no-repeat 61px 10px;
		background-size:16px;
	}
	.copy-rights p {
		padding: 0em 1em;
	}
}
@media(max-width:384px){
	.resp-tab-item {
		width: 37.5%;
	}
	.resp-tab-content {
		height: 450px;
	}
}
@media(max-width:375px){
	.login-top input[type="text"], .login-top input.password {
		width: 88%;
	}
	.resp-tab-item {
		width: 37.2%;
	}
	.social-btn a.facebook {
		background: #3c579e url('../images/facebook.png') no-repeat 59px 10px;
		background-size: 16px;
	}
	.social-btn a.facebook:hover{
		background:#1c3984 url('../images/facebook.png') no-repeat 59px 10px;
		background-size:16px;
	}
	.close {
		padding-top: 1em;
	}
}
@media(max-width:320px){
	.resp-tab-content {
		height: 390px;
	}
	h1 {
		font-size: 2em;
	}
	.resp-tab-item {
		width: 34.9%;
		padding: 7px 17.2px;
	}
	.login-top {
		padding: 1em;
	}
	.login-top input[type="text"] {
		width: 92%;
		padding: 0.5em;
		font-size:13px;
	}
	.login-top input.password {
		width: 92%;
		padding: 0.5em;
		font-size:13px;
	}
	.social-btn a {
		width: 75%;
		 padding: 0.7em 1em 0.7em 3.1em;
	}
	.social-btn a.twitter {
		background: rgba(3, 169, 244, 0.64) url('../images/twitter.png') no-repeat 48px 8px;
		background-size: 16px;
		margin-bottom:10px;
	}
	.social-btn a.twitter:hover{
		background:#177582 url('../images/twitter.png') no-repeat 48px 8x;
		background-size:16px;
	}
	.social-btn a.facebook {
		background: #3c579e url('../images/facebook.png') no-repeat 40px 9px;
		background-size: 16px;
	}
	.social-btn a.facebook:hover{
		background:#1c3984 url('../images/facebook.png') no-repeat 40px 9px;
		background-size:16px;
	}
	.login-bottom.login-bottom1 h4 {
		font-size: 0.9em;
	}
	.login-top input[type="submit"] {
		padding: 0.5em 1em;
	}
	.login-top h6 {
    font-size: 15px;
	}
	.login-bottom.login-bottom1 h4 {
		margin: 22px 0px;
	}
}